<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
</head>
<body>
  <nav>
    <a href="#about">About</a>
    <a href="#projects">Projects</a>
    <a href="#publications">Publications</a>
    <a href="#skills">Skills</a>
  </nav>
  <div class="hero">
    <h1>Drew Gower</h1>
    <p>Data Scientist • GIS and Remote Sensing Analyst • Environmental Modeler</p>
  </div>
  <div class="main-container">
    <main>
      {{ content }}
    <aside class="sidebar">
	<h3>Contact</h3>
      	<p><strong>Email:</strong><br><a href="mailto:drew.gower@fmarion.edu">drew.gower@fmarion.edu</a></p>
      	<p><strong>LinkedIn:</strong><br><a href="https://linkedin.com">linkedin.com/in/drew-gower-5b8237a9</a></p>
      	<p><strong>GitHub:</strong><br><a href="https://github.com/dbg6y">github.com/dbg6y</a></p>
</body>
</html>
